<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NonaMegaMego: Главная</title>
    <link rel="stylesheet" href="/styles">
</head>
<body>
    <p class="title"><b><u>Игра</u></b></p>
    <p class="round"><b>Раунд: </b>{{round}}</p>
    <p class="stats">{{stats}}</p>
    <p class="hint"><b>Использованные подсказки: </b><br>{{hint}}</p>
    <p><b>Ходит: </b>{{text}}</p>
    <p><input type="button" class="main styled" value="Ответить!" onclick="answer()" accesskey="space"></p>
    <p class="hints"><b>Доступные подсказки: </b><br>{{hints}}</p>
    <p><input type="button" class="exit styled" value="Выйти" onclick="exit()" accesskey="esc"></p>
</body>
<script src="/scripts"></script>
</html>
