<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NonaMegaMego: Настройки</title>
    <!-- <link rel="stylesheet" href="../static/styles/style.css"> -->
</head>
<style>
    body, input {
        font-size: 48px;
    }
    p, a, ul, label, input {
        font-family: "Lucida Console", monospace;
    }
    img {
        width: 100%;
        height: auto;
    }
    .title {
        font-size: 200%;
    }
    .playlist {
        width: 24%;
        height: auto;
    }
    .error {
        font-size: 80%;
        color: #f3e9e9;
    }
</style>
<body>
    <p class="title"><b><u>Настройки</u></b></p>
    <p><b>Настройки: </b><br>{{text}}</p>
    <p><b>Выберите количество игроков: </b>{{players-count}}</p>
    <p><b>Укажите имена: </b><br>{{player-names}}</p>
    <p><b>Выберите плейлист: </b><br>{{playlists}}</p>
    <p><input type="button" value="Начать игру" onclick="start()"></p>
    <p><a href="/spotify/home">Выйти</a></p>
</body>
<script>
    function start() {
        const names = []
        const c = document.getElementsByClassName('name')
        for (let i = 0; i < c.length; i++) {
            const v = c.item(i).value
            if (v === '') {
                alert('Укажите имена')
                return
            }
            names.push(v)
        }

        window.location.href = "/spotify/nonamegamego/main?start=true&player_names=" + names.join(',')
    }
</script>
</html>
