<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новая комната</title>
    <link rel="stylesheet" href="/styles">
</head>
<body>
    <p class="title" id="{{room-id}}"><b><u>Настройка комнаты "{{room-id}}"</u></b></p>
    <p><b>Плейлист: </b>{{settings-playlist}}</p>
    <p><input type="button" class="main styled" value="Начать игру" onclick="start()"></p>
    <hr>
    <p><b>Укажите имена игроков:</b><br>{{player-names}}</p>
    <hr>
    <p><b>Укажите плейлист: </b><input type="text" class="playlist" id="playlist" onchange="setPlaylist()"></p>
    <hr>
    <p><input type="button" class="exit styled" value="Выйти" onclick="exit()"></p>
</body>
<script src="/scripts"></script>
<script src="/scripts/setup"></script>
</html>
