<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NonaMegaMego: Выбор количества игроков</title>
    <!-- <link rel="stylesheet" href="../static/styles/style.css"> -->
</head>
<style>
    body {
        font-size: 48px;
    }
    p, a, ul {
        font-family: "Lucida Console", monospace;
    }
    img {
        width: 100%;
        height: auto;
    }
    .title {
        font-size: 200%;
    }
    .playlist {
        width: 24%;
        height: auto;
    }
    .error {
        font-size: 80%;
        color: #f3e9e9;
    }
</style>
<body>
    <p class="title"><b><u>Выбор количества игроков</u></b></p>
    <p>Выберите количество игроков:</p>
    <a href="/spotify/nonamegamego/main?players=1">1</a>
    <a href="/spotify/nonamegamego/main?players=2">2</a>
    <a href="/spotify/nonamegamego/main?players=3">3</a>
    <a href="/spotify/nonamegamego/main?players=4">4</a>
    <a href="/spotify/nonamegamego/main?players=5">5</a>
    <a href="/spotify/nonamegamego/main?players=6">6</a>
    <a href="/spotify/nonamegamego/main?players=7">7</a>
    <a href="/spotify/nonamegamego/main?players=8">8</a>
    <a href="/spotify/nonamegamego/main?players=9">9</a>
    <br/>
    <br/>
    <a href="/spotify/home">Выйти</a>
</body>
</html>
