<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <!-- <link rel="stylesheet" href="../static/styles/style.css"> -->
</head>
<style>
    body {
        font-size: 48px;
    }
    p, a {
        font-family: "Lucida Console", monospace;
    }
    img {
        width: 100%;
        height: auto;
    }
    .title {
        font-size: 200%;
    }
    .error {
        font-size: 80%;
        color: #aaaaaa;
    }
</style>
<body>
    <p class="title"><b><u>Несостыков<i>очка</i>!</u></b></p>
    <p>{{text}}</p>
    <img alt="Auth" src="https://i.imgur.com/7N7Vp5d.png">
    <a href="/spotify/home">Домой</a><br/>
</body>
</html>
