<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- <link rel="stylesheet" href="../static/styles/style.css"> -->
</head>
<style>
    body {
        font-size: 48px;
    }
    p, a {
        font-family: "Lucida Console", monospace;
    }
    img {
        width:100%;
        height: auto;
    }
    .title {
        font-size: 200%;
    }
    .error {
        font-size: 80%;
        color: #aaaaaa;
    }
</style>
<body>
    <p class="title"><b><u>Угадайка!</u></b></p>
    <p>{{text}}</p>
    <a href="/spotify/game/hint?step={{step}}">Подсказка</a><br/>
    <a href="/spotify/game/show">Ответ</a><br/>
    <a href="/spotify/game/next?playlist=metalcore">Metalcore</a><br/>
    <a href="/spotify/game/next?playlist=hip-hop">Hip-Hop</a><br/>
    <a href="/spotify/game/next?playlist=classic+punk">Punk</a><br/>
    <a href="/spotify/game/next?playlist=русская+попса+90">Русская попса 90-ых</a><br/>
    <a href="/spotify/game/next?playlist=top500">Топ-500</a><br/>
    <a href="/spotify/game/next?playlist=best+of+rock+1970">Best of Rock: 1970</a><br/>
    <a href="/spotify/game/next?playlist=best+of+rock+1980">Best of Rock: 1980</a><br/>
    <a href="/spotify/game/next?playlist=best+of+rock+1990">Best of Rock: 1990</a><br/>
    <a href="/spotify/game/next?playlist=best+of+rock+2000">Best of Rock: 2000</a><br/>
    <a href="/spotify/game/next?playlist=best+of+rock+2007">Best of Rock: 2007</a><br/>
    <a href="/spotify/game/next?playlist=best+of+rock+2010">Best of Rock: 2010</a><br/>
    <img src="https://i.imgur.com/UuQY84x.png">
    <a href="/spotify/home">Пойти на хуй</a>
</body>
</html>
