<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help</title>
    <!-- <link rel="stylesheet" href="../static/styles/style.css"> -->
</head>
<style>
    body {
        font-size: 48px;
    }
    p, a {
        font-family: "Lucida Console", monospace;
    }
    img {
        width:100%;
        height: auto;
    }
    .title {
        font-size: 200%;
    }
    .error {
        font-size: 50%;
        color: #aaaaaa;
    }
</style>
<body>
    <p class="title"><b><u>Help (Допомога)</u></b></p>
    <p>Я Le Chat "salaleser" Сергеевич (<a href="https://t.me/salaleser">@salaleser</a>)
    и у меня появилась очередная ебанутая идея. Это будет игра, основанная QR-кодах
    (Quick Response codes), а также (олсо) интерактивная карта музыкальных жанров (music genres).</p>
    <a href="/spotify/home">Вернуться на главную</a><br/>
    <img src="https://i.imgur.com/Vl4iY7y.jpg">
    <img src=https://i.imgur.com/xMlrZph.gif>
</body>
</html>
