<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Root</title>
    <link rel="stylesheet" href="/styles">
</head>
<body>
    <p class="title"><b><u>Визитка Леши</u></b></p>
    <p>меня зовумт леша. друзья говорят, что я хоромший</p>
    <p><input type="button" class="answer-2 styled" value="сыграть в угадаечку от леши" onclick="play()"></p>
    <p><a href="https://mynickname.com/salaleser"><img class="nickname-sert" src="https://mynickname.com/img.php?id=1241205&sert=1" alt="Сертификат на никнейм salaleser, зарегистрирован на https://salaleser.app" border="0"></a></p>
</body>
<script src="/scripts"></script>
</html>
