<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- <link rel="stylesheet" href="../static/styles/style.css"> -->
</head>
<style>
    body {
        font-size: 48px;
    }
    p, a {
        font-family: "Lucida Console", monospace;
    }
    img {
        width: 100%;
        height: auto;
    }
    .title {
        font-size: 200%;
    }
    .error {
        font-size: 80%;
        color: #aaaaaa;
    }
</style>
<body>
    <p class="title"><b><u><a href="https://github.com/salaleser/qrrc">QRRC</a></u></b></p>
    <p>Доступны модули:</p>
    <a href="/spotify/home">Spotify</a><br/>
</body>
</html>
