<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <!-- <link rel="stylesheet" href="../static/styles/style.css"> -->
</head>
<style>
    body {
        font-size: 48px;
    }
    p, a {
        font-family: "Lucida Console", monospace;
    }
    img {
        width:100%;
        height: auto;
    }
    .title {
        font-size: 200%;
    }
    .error {
        font-size: 50%;
        color: #aaaaaa;
    }
</style>
<body>
    <p class="title"><b><u>Ustanovki (Опшнс)</u></b></p>
    <p>тут будет (soon) переключение (switch) на режим игры (гейм моуд) в угадывание трека (ugadai melodiyu), переключение на случайную позицию трека,
    включение полной информации (full information) о треке и другое.</p>
    <a href="/spotify/home">Вернуться на главную</a>
</body>
</html>
